[MASTER]
# Use multiple processes to speed up Pylint (--go-faster)
jobs=4

[MESSAGES CONTROL]
# R0903: Too few public methods (%s/%s)
# C0103: Invalid name
disable=R0903,C0103

[TYPECHECK]
# List of module names for which member attributes should not be checked
# (useful for modules/projects where namespaces are manipulated during runtime
# and thus existing member attributes cannot be deduced by static analysis. It
# supports qualified module names, as well as Unix pattern matching.
ignored-modules=distro_info
